
.aboutus-container {
  width: 50%;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
 h1 {
    font-size: 45px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
  }

  p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
  }
}

a {
  text-decoration: none !important;
.aboutus-icon {
  font-size: 1.5em;
  color: #EF306A;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

.blue-text-color {
  color: #EF306A;
}

.card-text {
  font-family: 'Karla', sans-serif;
}
