.aboutus-left-container {
  width: 35%;
  h1 {
    font-size: 45px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
  }

  p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
  }

}

.aboutus-container {
  background-size: cover;
  background-position: center center;
  width: 350px;
  height: 350px;
}

a {
  text-decoration: none !important;
.aboutus-icon {
  font-size: 1.5em;
  color: #EF306A;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}
