.nav {
  padding: 10px;
}

.titulo {
  h1 {
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    font-size: 2rem;
    vertical-align: middle;
  }

  h2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    font-size: 1.2rem;
  }
}

.video-title {
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  color: white;
  font-size: 1rem;
  padding: 25px 0px 5px 0px;
}

.made {
  font-family: 'Press Start 2P', cursive;
  text-align: right;
  color: white;
  font-size: 1rem;
  padding: 10px 0px 25px 0;
}
