<div class="main-container">
  <div class="aboutus-container text-center py-4">
    <h1>Passionate Web Developers</h1>
    <p>
      We are a group of <span class="blue-text-color">full-stack web developers</span> graduated from Le Wagon's Coding Bootcamp - batch#690 and <span class="blue-text-color">NADC Awards</span> is our project.
    </p>
  </div>

</div>

<div class="container text-center py-4">
  <h3>Our Team</h3>

  <div class="row flex-row justify-content-center">

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/allysson.jpeg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Allysson Comin</h5>
        <p class="card-text flex-grow-1">Former Nicolas Cagezinho and now a Full-Stack Web Developer.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/allyssoncomin/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/AllyssonComin" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198156963362" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/igor.jpeg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Igor Areco</h5>
        <p class="card-text flex-grow-1">Former Agronomy Student and now a Full-Stack Web Developer.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/igorareco/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/IgorAreco" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198094084702/" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/tasso.jpeg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Tasso Oliveira</h5>
        <p class="card-text flex-grow-1">Former Nicolas Cagezinho and Administrator and now a Full-Stack Web Development.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/tassorodrigues/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/tassohenrique" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198056892892" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/thierry.jpg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Thierry Oliveira</h5>
        <p class="card-text flex-grow-1">Former Physical Therapist and now a Senior Full-Stack Web Development.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/thierry-fernando/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/thierryfro" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561197995713307" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>
