<div class="container">
  <h1>Welcome to the Meat Hookah Awards</h1>
  <h2>The Meat Hookah Awards aim to annually crown the best/funny/pro plays.</h2>
</div>

<div class="container">
  <h2>This video is our biggest inspiration.</h2>
  <iframe width="1000" height="700" src=<%="https://www.youtube.com/embed/aVSpPk6Ws28" %>></iframe>
  <h3>Made by Jasso</h3>
</div>
<div class="container">
  <%= link_to "About us", about_us_path, class: "btn btn-primary"%>
  <%= link_to "See the plays", plays_path, class: "btn btn-primary"%>
  <%= link_to "Send a play!", new_play_path, class: "btn btn-primary"%>
</div>
